<div class="row">
	<div class="span10">
		<ul class="breadcrumb">
			<li>
				
              <h3 class="well"><center>Employee Information Form</center></h3>
            	<%= render 'form' %>

            </ul>
	</div>
</div>