<div class="row">
	<div class="span10">
		    <ul class="breadcrumb">
              <li>
                <%= link_to "All Employee Information", employees_path %><span class="divider">/</span>
            	<%= render 'form' %>
	</div>

 
</div>